[submodule "documentation"]
	path = documentation
	url = https://github.com/joshbeitler/mirus.wiki.git
[submodule "mirloader"]
	path = mirloader
	url = https://github.com/joshbeitler/mirloader
[submodule "drivers"]
	path = drivers
	url = https://github.com/joshbeitler/drivers.git
[submodule "utils"]
	path = utils
	url = https://github.com/joshbeitler/utils.git
