# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# misc
*.d
*.iso
*.bin
*.log

# ramdisk
*.tar

# distrobution files
*.so
*.lib
*.elf
*.mx