[submodule "mirloader"]
	path = mirloader
	url = git://github.com/mirusproject/mirloader.git
[submodule "mkdb"]
	path = mkdb
	url = git://github.com/mirusproject/mkdb.git
[submodule "coreutils"]
	path = coreutils
	url = git://github.com/mirusproject/coreutils.git
[submodule "sing"]
	path = sing
	url = git://github.com/mirusproject/sing.git
