# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# misc
*.d
*.iso
*.bin

# anything submlime might have copied over...
*.sublime-project
*.sublime-workspace
