@import url(elusive-webfont.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

* {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    max-width: 65%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 1.5;
    color: #444;
}

/* headers */
h1 {

}

h2 {
    color: #02779E;
}

h3 {
    color: #4E9CB5;
}

/* code */
code {
    display: block;
    background-color: #EEEEEF;
    padding: 3px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #34689D;
    padding-left: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #265997;
}

/* nav */
.breadcrumb {
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
}

nav ul {
    display: inline-block;
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: #265997;
}

/* layout */
p {
    margin-bottom: 15px;
}

.content {
    clear: both;
    text-align: justify;
}

#right {
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
}

#right a {
    text-decoration: none;
    color: black;
}

#right a:hover {
    color: #265997;
}

kbd {
    border: 1px solid #ddd;
    padding: 0px 5px;
    margin: 0 2px;
    background-color: #f8f8f8;
    border-radius: 3px;
}

.toc {
    list-style-type: none;
    padding-left: 25px;
    margin-left: 3px;

    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #34689D;
}

.toc ul {
    list-style-type: none;

    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #34689D;
}

.toc1 {
    list-style-type: none;
    margin-left: 3px;
    padding: 0;
}

.toc1 ul {
    list-style-type: none;

    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #34689D;
}

.content ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* link */
.content a:link {
    color: #555;
    text-decoration: none;
    font-weight: bold;
}

.content a:visited {
    color: #555;
    text-decoration: none;
    font-weight: bold;
}

.content a:hover {
    color: #265997;
    text-decoration: none;
    font-weight: bold;
}

.content a:active {
    color: #265997;
    text-decoration: none;
    font-weight: bold;
}

/* tables */
table {
    border: 1px solid #ddd;
    padding: 0px 5px;
    margin: 0 2px;
    background-color: #f8f8f8;
    border-radius: 3px;
}

table thead {
   
}

table tbody tr:nth-child(odd) {
  
}

table th {
    font-weight: normal;
    border-bottom: 1px solid #ddd;
}

table td {
    padding-right: 15px;
}