* {
    margin: 0;
}

body {
    font-family: sans-serif;
}

/* headers */
h1 {

}

h2 {
    color: #02779E;
}

h3 {
    color: #4E9CB5;
}

/* code */
code {
    display: block;
    background-color: #EEEEEF;
    padding: 5px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #34689D;
    padding-left: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #265997;
}

/* nav */
.breadcrumb {
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    display: none;
}

nav ul {
    display: inline-block;
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: #265997;
}

/* layout */
p {
    margin-bottom: 15px;
}

.content {
    clear: both;
    text-align: justify;
}

#right {
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
}

#right a {
    text-decoration: none;
    color: black;
    display: none;
}

#right a:hover {
    color: #265997;
}